body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 18px;
  color: #2D3748;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #63B3ED;
  color: #FFFFFF;
  grid-column: span 2;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 0;
}

header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

header h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  margin-top: 10px;
}

header p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}

main {
  grid-column: 1;
  margin-top: 0;
  padding-top: 0;
}

article {
  margin-bottom: 40px;
  border-bottom: 1px solid #E2E8F0; 
  padding-bottom: 20px;
}

article h2 {
  font-size: 32px;
  color: #48BB78;
}

.post-meta {
  color: #718096;
  font-size: 14px;
  margin-bottom: 10px;
}

article img {
  width: 150px;
  height: auto;
  float: right;
  margin-right: 15px;
}

aside {
  grid-column: 2;
}

aside section {
  margin-bottom: 30px;
}

aside h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
}

.about-section {
  background-color: #E2E8F0;
  padding: 15px;
  border-radius: 5px;
}

.social-media h3, .archives h3 {
  color: #48BB78;
}

.about h3 {
  color: #000000;
}

.social-media a, .archives a {
  color: #4299E1;
  text-decoration: none;
}

footer {
  background-color: #2C5282;
  color: #FFFFFF;
  grid-column: span 2;
  text-align: center;
  padding: 10px;
  margin-top: 0; 
}
